* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f9f3eb;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.w-2 {
  width: 50%;
}

.w-3 {
  width: 33.33%;
}

.py {
  padding: 70px 0px;
}

img {
  max-width: 100%;
  display: block;
}

header {
  position: absolute;
  z-index: 9;
  width: 100%;
}
header .logo {
  color: #f8f9fa;
}
header nav ul .dropdown {
  position: relative;
}
header nav ul .dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
header nav ul .dropdown .dropdown-menu {
  position: absolute;
  z-index: 9;
  top: 100%;
  left: 0;
  width: 150px;
  background-color: #f8f9fa;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.2s linear;
}
header nav ul .dropdown .dropdown-menu ul {
  margin: 20px 0px;
}
header nav ul .dropdown .dropdown-menu ul .sub {
  position: relative;
}
header nav ul .dropdown .dropdown-menu ul .sub a i {
  right: -50px;
}
header nav ul .dropdown .dropdown-menu ul .sub:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
header nav ul .dropdown .dropdown-menu ul .sub .sub-menu {
  position: absolute;
  bottom: -90px;
  right: -150px;
  background-color: #f8f9fa;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.2s linear;
}
header nav ul .dropdown .dropdown-menu ul .sub .sub-menu ul li a {
  color: #212529;
  transition: all 0.2s linear;
}
header nav ul .dropdown .dropdown-menu ul .sub .sub-menu ul li a:hover {
  color: #ffc107;
}
header nav ul .dropdown .dropdown-menu ul li {
  padding: 5px 0;
}
header nav ul .dropdown .dropdown-menu ul li a {
  font-size: 16px;
  color: #212529;
  transition: all 0.2s linear;
}
header nav ul .dropdown .dropdown-menu ul li a:hover {
  color: #ffc107;
}
header nav ul li {
  padding: 20px 0;
}
header nav ul li a {
  position: relative;
  color: #f8f9fa;
  font-size: 18px;
  margin: 0px 15px;
}
header nav ul li a i {
  position: absolute;
  right: -25px;
  bottom: -4px;
  font-size: 25px;
}

.benner {
  position: relative;
  max-width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/bannerimg.webp");
}
.benner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3215686275);
}
.benner .banner-contantin {
  z-index: 1;
}
.benner .banner-contantin .banner-items {
  text-align: left;
  margin-right: 123px;
}
.benner .banner-contantin .banner-items h5 {
  color: rgba(255, 255, 255, 0.5058823529);
  margin: 20px 0;
}
.benner .banner-contantin .banner-items h2 {
  color: #f8f9fa;
  font-size: 40px;
  margin: 20px 0;
}
.benner .banner-contantin .banner-items p {
  line-height: 24px;
  font-size: 16px;
  color: #f8f9fa;
  margin-bottom: 70px;
}
.benner .banner-contantin .banner-items .banner-btn {
  display: inline-block;
  background-color: #fd7e14;
  font-size: 12px;
  color: #f8f9fa;
  border: 2px solid transparent;
  padding: 12px 20px;
  border-radius: 30px;
  font-weight: 700;
  margin-top: 20px;
  letter-spacing: 0.1rem;
  transition: all 0.2s linear;
}
.benner .banner-contantin .banner-items .banner-btn:hover {
  color: #ffc107;
  background-color: #f8f9fa;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
}
.benner .banner-contantin .banner-btn {
  position: relative;
}
.benner .banner-contantin .banner-btn a img {
  border-radius: 4px;
}
.benner .banner-contantin .banner-btn a i {
  position: absolute;
  top: 40%;
  left: 40%;
  color: #f8f9fa;
  font-size: 30px;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border: 2px solid rgba(255, 255, 255, 0.5058823529);
  border-radius: 50%;
}

.about-us-contain .about-us-items {
  margin-right: 123px;
}
.about-us-contain .about-us-items h5 {
  color: #ffc107;
  margin-bottom: 24px;
}
.about-us-contain .about-us-items h2 {
  margin-bottom: 24px;
  font-size: 40px;
}
.about-us-contain .about-us-items p {
  font-size: 16px;
  margin-bottom: 18px;
  color: #6c757d;
}
.about-us-contain .about-us-items .about-us-btn {
  display: inline-block;
  background-color: #fd7e14;
  font-size: 10px;
  color: #f8f9fa;
  border: 2px solid transparent;
  padding: 12px 20px;
  border-radius: 30px;
  font-weight: 700;
  margin-top: 20px;
  letter-spacing: 0.1rem;
  transition: all 0.2s linear;
}
.about-us-contain .about-us-items .about-us-btn:hover {
  color: #ffc107;
  background-color: #f8f9fa;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
}
.about-us-contain .about-us-img {
  height: 100%;
}
.about-us-contain .about-us-img img {
  border-radius: 4px;
}

.recent-title h5 {
  color: #ffc107;
  margin-bottom: 24px;
}
.recent-title h2 {
  font-size: 35px;
}

.recent-contain .recent-img {
  padding: 0px 24px;
  margin-top: 48px;
}
.recent-contain .recent-img a img {
  border-radius: 4px;
}
.recent-contain .recent-items {
  margin-left: 24px;
  padding: 20px 20px;
}
.recent-contain .recent-items h5 {
  color: #6c757d;
  margin-bottom: 10px;
}
.recent-contain .recent-items h3 {
  margin-bottom: px;
}
.recent-contain .recent-items h3 a {
  color: #444242;
  font-size: 20px;
}
.recent-contain .recent-items p {
  color: #6c757d;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 48px;
}
.recent-contain .recent-items .recent-btn a {
  color: #f8f9fa;
  background-color: #fd7e14;
  border: 2px solid transparent;
  padding: 12px 20px;
  display: inline-block;
  border-radius: 30px;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  transition: all 0.2s linear;
}
.recent-contain .recent-items .recent-btn a:hover {
  color: #ffc107;
  background-color: #f8f9fa;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
}

.why {
  background-color: #10495c;
}
.why .why-title h5 {
  color: #ffc107;
  margin-bottom: 24px;
}
.why .why-title h2 {
  color: #f8f9fa;
  font-size: 35px;
}
.why .why-p {
  color: #f8f9fa;
  margin: 0px 0px 0px 112px;
}
.why .why-img {
  position: relative;
}
.why .why-img a img {
  margin-top: 48px;
}
.why .why-img a .why-play {
  position: absolute;
  top: 40%;
  left: 40%;
  color: #f8f9fa;
  font-size: 30px;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border: 2px solid rgba(255, 255, 255, 0.5058823529);
  border-radius: 50%;
}
.why .why-2 {
  margin: 40px 0px 0px 112px;
}
.why .why-2 .why-btn {
  margin-top: 40px;
}
.why .why-2 .why-btn a {
  background-color: #fd7e14;
  color: #f8f9fa;
  font-size: 10px;
  padding: 12px 20px;
  border: 2px solid transparent;
  border-radius: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  transition: all 0.2s linear;
}
.why .why-2 .why-btn a:hover {
  color: #ffc107;
  background-color: #f8f9fa;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
}
.why .why-2 .why-contant {
  padding: 0px 12px;
  margin: 24px 0px 10px;
}
.why .why-2 .why-contant h5 {
  color: #f8f9fa;
  margin-bottom: 8px;
  font-size: 12px;
}
.why .why-2 .why-contant p {
  color: rgba(255, 255, 255, 0.5019607843);
}

.review .review-title h5 {
  color: #ffc107;
}
.review .review-title h2 {
  color: #212529;
  margin: 24px 0;
  font-size: 35px;
}

.review-item {
  background-color: #f8f9fa;
  padding: 50px 100px;
  border-radius: 10px;
}
.review-item p {
  margin: 30px 0px 16px 0px;
  color: #212529;
}
.review-item .review-person img {
  width: 40px;
  border-radius: 50%;
  margin: 0px 48%;
}
.review-item .review-person h5 {
  color: #212529;
  margin-top: 10px;
}
.review-item .review-person p {
  margin: 0;
}

.work {
  margin: 0px 150px;
}
.work .work-item .work-img {
  height: 100%;
  padding: 20px;
  position: relative;
}
.work .work-item .work-img:hover .overly {
  opacity: 1;
  visibility: visible;
}
.work .work-item .work-img:hover .overly .work-contant {
  transform: translateY(0px);
}
.work .work-item .work-img .overly {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3215686275);
  border-radius: 30px;
  opacity: 0;
  visibility: hidden;
  border: 2px solid #c67a13;
  margin: 40px;
  transition: all 0.2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.work .work-item .work-img .overly .work-contant {
  text-align: cen ter;
  transform: translateY(50px);
  transition: all 0.2s linear;
}
.work .work-item .work-img .overly .work-contant h2 {
  color: #f8f9fa;
  border-bottom: 2px solid #c67a13;
  padding: 20px;
  display: block;
}
.work .work-item .work-img .overly .work-contant a {
  color: #f8f9fa;
  background-color: #fd7e14;
  margin: 20px;
  padding: 10px 20px;
}
.work .work-item .work-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.service {
  background-color: #f8f9fa;
  padding: 112px 0px;
  margin-bottom: -50px;
  position: relative;
}
.service .service-title h2 {
  margin: 24px 0px 30px 0px;
}
.service .service-item {
  padding: 20px;
}
.service .service-item h3 {
  margin: 24px 0px 10px 0px;
}
.service .service-item p {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 20px;
}
.service .service-item a {
  color: #ffc107;
}
.service .service-item a:hover {
  color: #c67a13;
}
.service .service-item img {
  margin-left: 40%;
  width: 60px;
}

.join {
  background-color: #10495c;
  padding: 10rem 0px 7rem 0px;
}
.join .join-item h2 {
  color: #f8f9fa;
}
.join .join-item .join-btn {
  padding: 14px 48px;
  background-color: #fd7e14;
  color: #f8f9fa;
  border: 2px solid transparent;
  padding: 12px 20px;
  font-size: 12px;
  border-radius: 30px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  transition: all 0.2s linear;
}
.join .join-item .join-btn:hover {
  color: #ffc107;
  background-color: #f8f9fa;
  box-shadow: 0 15px 30px 0 #212529;
}

footer {
  background-color: #EDE1D0;
  padding: 70px 0px;
}
footer .footer-item h4 {
  color: #10495c;
  margin-bottom: 15px;
}
footer .footer-item address {
  color: #444242;
}
footer .footer-item ul li {
  margin: 10px 0px;
  width: 150px;
}
footer .footer-item ul li a {
  color: #444242;
  border-bottom: 2px solid rgba(198, 123, 19, 0.1607843137);
  transition: all 0.2s linear;
}
footer .footer-item ul li a:hover {
  color: #212529;
  border-bottom: 2px solid #ffc107;
}
footer .footer-item .footer-icon li {
  width: 45px;
}
footer .footer-item .footer-icon li a {
  color: #444242;
  background-color: #f8f9fa;
  width: 40px;
  height: 40px;
  border-bottom: 0;
  text-align: center;
  border-radius: 40%;
  line-height: 40px;
  transition: all 0.2s linear;
}
footer .footer-item .footer-icon li a:hover {
  color: #f8f9fa;
  background-color: #ffc107;
  border-bottom: 0;
}
footer .copy {
  margin-top: 70px;
}
footer .copy p {
  color: #444242;
}
footer .copy p i {
  color: #dc3545;
}
footer .copy p a {
  color: #444242;
  border-bottom: 2px solid rgba(198, 123, 19, 0.1607843137);
}
footer .copy p a:hover {
  color: #212529;
  border-bottom: 2px solid #ffc107;
}

/*# sourceMappingURL=style.css.map */
